* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.banner { 
    overflow: hidden;
    background-color: #0f263f;;
    border-color: #01020342; 
}

.banner a {
    text-align: center;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: left;
    padding: 15px 20px;   
}

.DisplayLaptops { 
    grid-column: 1 / span 3;
    grid-row: 2;
}

#KomputerStore2, #KomputerStore5 {
    color: #fc9d45;
}
#KomputerStore3, #KomputerStore6 {
    color: #23c686;
    }

.Bank { 
    display: grid;
    gap: 40px;
    margin: 30px;
    padding: 20xp;
}
.mainBox{ 
    background-color: #23c686;
    border-radius: 10px;
    padding: 55px;
    box-shadow: 0 1px 20px 0 #010101b8;
    font-size: 25px; /*change this? */
    
}
p { 
    position: relative;
    right: 35px;
    bottom: 50px;
    font-weight: 600;
    font-size: larger;
}

 #box1-1, #box2-2{
    font-size: medium;
}

#boxLoan{
  font-weight: 200;
}

#inputLoan, #selectLaptops {
    border-radius: 10px;
    height: 30px;
}
           
select { 
    bottom: 2px;
    right: 2px;
}

/* Buttons */
button {
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-weight: lighter;
    font-size: 20px;
    box-shadow: 0 1px 5px 0 #010101b8;
    border-radius: 10px;
    border: none;   
}

.loan-btn {
    color:#f4f3f3 ;
    top: 20px;
    position: relative;
    right: 20px;
    background-color: #010101;
}
.buyNow-btn { 
    position: relative;
    left: 400px;
    top: 40px;
    width: 300px;
    height:70px;
    background-color:#fc9d45;
}
.bank-btn { 
    position: relative;
    top: 60px;
    right: -15px;
    background-color:#fbdcf6;
}
.work-btn { 
    position: relative;
    top: 60px;
    left:25px;
    background-color:#0f263f;
    color: #f4f3f3;
    
}
